@media only screen and (min-width: 1px){
    form {border: solid 1px #ccc;
        background-color: #eee;
         text-align:center;
    }
    form a{
        display: block;
        width:auto;
        text-decoration: none;
        text-align: center;
        margin: 2% 0;
        width: 99%;
    }
    input, textarea, select{
        padding: .5rem; border-radius: .3rem;
        border: solid 1px #444;margin: .5%;
        width: 99%;
    }
    button{
        background-color: #2e7b29;
        color: #ffffff;
        padding: .5rem 1rem;
        border: solid 1px #000;
        border-radius: .2rem;
        margin: .5%;
        width: 99%;
    }
}
@media only screen and (min-width: 800px){
    form#zmcms_users_frm_login{width: 50%;margin-left: 50%; transform: translateX(-50%);}
     button{width: auto;min-width: 10rem}
}
@media only screen and (min-width: 1024px){
    form#zmcms_users_frm_login{width: 30%;margin-left: 50%; transform: translateX(-50%);}
     button{width: auto;min-width: 10rem}
}
@media only screen and (min-width: 1367px){
    form#zmcms_users_frm_login{width: 20%;}
}
